

.flex-container{
    display: flex;
     
    

}

.flex-item  {
     flex:2 0 0;
     align-items: flex-end;
    border: 1px solid red;

}
ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}